body {
  background-color: rgb(231, 229, 229);
}

h1#filename {
  word-break: break-all;
}

.form-check {
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.card {
  margin: auto;
  width: 100%;
  padding: 1em;
}

.card-header {
  background-color: #fff;
}

#form-container > div.card-body {
  border-bottom: 1px solid rgb(202, 202, 202);
}


.refs-container {
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.refs-group {
  display: flex;
  align-items: center;
  cursor: default;
  flex-wrap: wrap;
}

.with-checkbox {
  flex-direction: row;
}

.ref__text {
  display: inline-flex;
  margin: 0;
  padding-right: .5em;
}

.ref__link {
  padding-right: .5em;
  cursor: pointer;
}

.btns-container {
  display: flex;
  justify-content: space-between;
}

.alert {
  margin-top: 1em;
  margin-bottom: 0 !important;
}

.custom-file-input {
  cursor: pointer;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Загрузить";
}

.form-control[type="color"] {
  width: 100px;
}

.color-label {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.reset {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
}

.preview {
  width: 150px;
  min-height: 50px;
  height: auto;
  margin: 1em;
  /* background-color: #dadbdb; */
  text-align: center;
}

@media (min-width: 575.98px) { 
  .card {
    max-width: 90%;
  }
}


@media (min-width: 767.98px) { 
  .reset {
    display: block;
    width: initial;
  }
}


@media (min-width: 991.98px) { 
  .card {
    max-width: 80%;
  }
}


@media (min-width: 1199.98px) { 
  .card {
    max-width: 60%;
  }
}
