/* * {
  margin: 0;
  padding: 0;
} */

body {
  background-color: rgb(231, 229, 229);
}

/* ??? */
/* button {
  max-width: 10em;
  width: 100%;
} */

label {
  margin-bottom: .5rem;
}

.form-check {
  cursor: pointer;
}

.container {
  height: 100%;
  min-height: 100vh;
  padding-top: 3em;
}

.hide {
  display: none !important;
}

.card {
  margin: auto;
  width: 100%;
  padding: 1em;
}

#form-container {
  margin-bottom: 3em;
}

#form-container > div.card-body {
  border-bottom: 1px solid rgb(202, 202, 202);
}

#form > .form-group {
  padding-bottom: 1em;
}

.refs-container {
  padding: 1em 0;
  display: flex;
}

.check__text {
  display: inline-flex;
  margin: 0;
}


.btns-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.alert {
  margin-top: 1em;
  margin-bottom: 0 !important;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Загрузить";
}



/* // Малые девайсы («ландшафтные», < 768px) */
@media (min-width: 575.98px) { 
  .card {
    max-width: 90%;
  }
 }

/* // Средние девайсы («таблетки», < 992px)  */
@media (min-width: 767.98px) {  }

/* // Большие девайсы (большие десктопы, < 1200px) */
@media (min-width: 991.98px) { 
  .card {
    max-width: 80%;
  }
 }

/* // Экстрабольшие девайсы (большие десктопы) */
@media (min-width: 1199.98px) { 
  .card {
    max-width: 60%;
  }
}
