body {
  background-color: rgb(231, 229, 229);
}

.form-check {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.card {
  margin: auto;
  width: 100%;
  padding: 1em;
}

#form-container > div.card-body {
  border-bottom: 1px solid rgb(202, 202, 202);
}


.refs-container {
  padding: 1em 0;
  display: flex;
}

.check__text {
  display: inline-flex;
  margin: 0;
}


.btns-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.alert {
  margin-top: 1em;
  margin-bottom: 0 !important;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Загрузить";
}

.form-control[type="color"] {
  width: 100px;
}

.color-label {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (min-width: 575.98px) { 
  .card {
    max-width: 90%;
  }
 }

/* // Средние девайсы («таблетки», < 992px)  */
@media (min-width: 767.98px) {  }

/* // Большие девайсы (большие десктопы, < 1200px) */
@media (min-width: 991.98px) { 
  .card {
    max-width: 80%;
  }
 }

/* // Экстрабольшие девайсы (большие десктопы) */
@media (min-width: 1199.98px) { 
  .card {
    max-width: 60%;
  }
}
